.hero {
  text-align: center;

      padding-top: 118px;
        padding-bottom: 118px;

      height: 400px;

  
      max-width: 1600px;
      margin: 0 auto;
      padding: 118px 0;
      background-color: #c4c4c4;
      
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../img/hero/banner-480.jpg") no-repeat center/cover;

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            
          background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
              url("../img/hero/banner-480@2x.jpg") no-repeat center/cover,
                #c4c4c4;            
          }
                     @media screen and (min-width: $tablet) {
                       padding: 200px 0;
                       background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                         url("../img/hero/banner-768.jpg") no-repeat center/cover, #c4c4c4;
          
                       @media (min-device-pixel-ratio: 2),
                       (min-resolution: 192dpi),
                       (min-resolution: 2dppx) {
                         background: linear-gradient(rgba(47, 48, 58, 0.4),
                             rgba(47, 48, 58, 0.4)),
                           url("../img/hero/banner-768@2x.jpg") no-repeat center/cover,
                           #c4c4c4;
                       }
                     }
@media screen and (min-width: $desktop) {
  padding: 200px 0;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../img/hero/banner-1200.jpg") no-repeat center/cover, #c4c4c4;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../img/hero/banner-1200@2x.jpg") no-repeat center/cover,
      #c4c4c4;
  }
}

  & .button {
    margin: auto;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

    @media screen and (min-width: $mobile) {
      max-width: $pre-tablet;
    }

    @media screen and (min-width: $tablet) {
      max-width: $pre-desktop;
    }

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }


}

.hero__title {
margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
    font-size: 26px;
    line-height: calc(42/26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    color: #FFFFFF;

  @media screen and (min-width: $desktop) {
  font-size: 44px;
  line-height: 1.36;
  }

}