.we-do {
  @media screen and (max-width: ($desktop - 1px)){
    display: none;
  }
}

.we-do__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $secondary-color;
}

.we-do__list {
  @extend %list;
}

.we-do__item {

  position: relative;
}

.we-do__service {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}