.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.page-footer__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    justify-content: space-between;

  }

}

.page-footer__section1 {
  text-align: center;
  @media screen and (min-width: $desktop) {
      text-align: left;
  
    }
}

.discover {
  text-align: center;
  @media screen and (min-width: $desktop) {
      text-align: left;
  
    }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }

  & .social-list {
    display: inline-flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  & .social-list__link {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: #ffffff;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: $accent-color;
    }
  }

}