.form-sign {
  text-align: center;
  @media screen and (min-width: $desktop) {
      text-align: left;
  
    }
}
.form-sign__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.form-sign__thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
@media screen and (min-width: $desktop) {
  flex-direction: row;
    gap: 12px;
  }

}

.form-sign__label {
  position: relative;
  display: inline-block;
}

.form-sign__input-field {
  display: inline-block;
  width: 94vw;
  height: 50px;
  padding-left: 16px;
  @media screen and (min-width: $mobile) {
    width: 450px;
  }
  @media screen and (min-width: $desktop) {
    width: 358px;

  }
  
  font-size: 16px;
  line-height: calc(20 / 16);
  color: #ffffff;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250m $time-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  &:not(:placeholder-shown) {
    font-size: 16px;
    line-height: calc(20 / 16);
    color: #ffffff;
  }
}
