.menu-button {
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    & .icon-close {
        @extend %icons;
    }
}
.menu-toggle,
.menu-button {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin-left: auto;
    transition: fill 250ms $time-function;
    @media screen and (min-width: $tablet) {
        display: none;
        
    }
    &:hover,
    &:focus {
        fill: $accent-color;
    }
}