.menu-container {


  @media screen and (max-width: $pre-tablet) {
    display: none;

    padding: 48px 40px;
    background-color: $white;

    &.is-open {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;



    }
  }

}

.page-header-address__list {
  @media screen and (max-width: ($tablet - 1px)) {
    & .address__icon {
      display: none;
    }
  }
}