


 .page-header__address-list {
    display: flex;
    @media screen and (max-width: $pre-desktop) {
            flex-direction: column;
            gap: 10px;
            margin-left: 94px;
    }
    
@media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 40px;
margin-left: 305px;
}

 }
 .page-footer__address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
 }
 
 .page-header__address-item {
    display: inline-flex;
        @extend %list;
        margin: 0;
        padding: 0;

            font-weight: 500;
letter-spacing: 0.02em;
    color: $primary-color;

    @media screen and (max-width: $pre-tablet) {
            font-weight: 500;
            font-size: 34px;
            line-height: calc(40/34);
            letter-spacing: 0.02em;
    
            &:nth-child(1) {
                font-size: 24px;
                line-height: calc(28/24);
                color: $primary-color;
            }
        }

    @media screen and (min-width: $tablet) {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 12px;
            line-height: calc(14/12);
        }
    
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            gap: 40px;
            font-size: 14px;
                line-height: calc(16/14);
        }
 }

.page-footer__address-item {
    @extend %list;
    @extend %link;
    font-style: normal;
}


.firm-address__link {
    @extend %link;

            color: $primary-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}
.page-header-address__link {
    display: flex;
        align-items: center;

    @media screen and (min-width: $desktop) {
    
    padding-top: 32px;
    padding-bottom: 32px;
    
}

}


.map {
    color: $white;

}

// icon
%div-icon-adress {
    display: inline-flex;
    margin-right: 10px;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope {
    width: 16px;
    height: 12px;
    @extend %div-icon-adress;
}

.smartphone {
    width: 10px;
    height: 16px;
    @extend %div-icon-adress;
}

.address-icon {
    @extend %icons;
}