// fonts
$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Raleway", sans-serif;

// colors

$primary-color: #757575;
$secondary-color: #212121;
$accent-color: #2196f3;
$bgc1: #F5F4FA;
$black: #000000;
$white: #FFFFFF;



// breakpoints

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;


